/* screen - desktop-1 */

.desktop-1 {
  align-items: flex-start;
  background-color: #141414;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2402px;
  overflow: hidden;
  width: 1472px;
}

.desktop-1 .hero-heading-left {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  gap: 80px;
  justify-content: center;
  left: -4822px;
  padding: 64px 24px;
  position: fixed;
  top: -2093px;
  width: 1440px;
  z-index: 6;
}

.desktop-1 .container {
  align-items: center;
  display: flex;
  gap: 80px;
  position: relative;
  width: 1200px;
}

.desktop-1 .column {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.desktop-1 .content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.desktop-1 .h1-title-copy-goes-here-be-awesome {
  align-self: stretch;
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 67.2px;
  margin-top: -1.00px;
  position: relative;
}

.desktop-1 .p-lorem-ipsum-dol {
  align-self: stretch;
  color: #212121;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 27px;
  position: relative;
}

.desktop-1 .actions {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  padding: 16px 0px 0px;
  position: relative;
  width: fit-content;
}

.desktop-1 .button {
  align-items: center;
  background-color: var(--black);
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
  width: fit-content;
}

.desktop-1 .get-started {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .column-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  gap: 10px;
  position: relative;
}

.desktop-1 .image-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.desktop-1 .image {
  align-self: stretch;
  background-image: url(../img/image.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 392.9px;
  min-width: 560px;
  position: relative;
}

.desktop-1 .navbar-logo-left {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  left: -4822px;
  padding: 0px 24px;
  position: fixed;
  top: -1867px;
  width: 1440px;
  z-index: 5;
}

.desktop-1 .navbar-container {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 1200px;
}

.desktop-1 .navbar-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1200px;
}

.desktop-1 .navbar-brand {
  height: 36px;
  margin-bottom: -4826.75px;
  margin-right: -9724.86px;
  min-width: 141px;
  position: relative;
}

.desktop-1 .navbar-menu {
  align-items: center;
  display: flex;
  gap: 32px;
  margin-left: -10158.86px;
  position: relative;
  width: fit-content;
}

.desktop-1 .navbar-link {
  align-items: flex-start;
  display: flex;
  padding: 24px 12px;
  position: relative;
  width: fit-content;
}

.desktop-1 .about {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .features {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .pricing {
  letter-spacing: 0;
  line-height: 21px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-1 .button-1 {
  align-items: center;
  background-color: var(--black);
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 20px;
  position: relative;
  width: fit-content;
}

.desktop-1 .flex-col {
  flex-direction: column;
  margin-top: 20px;
  min-height: 1313px;
  width: 1455px;
  z-index: 1;
}

.desktop-1 .frame-6 {
  align-self: flex-end;
  height: 152px;
  padding: 37px 84px;
  width: 1440px;
}

.desktop-1 .nftpool {
  color: var(--white);
  font-family: var(--font-family-gotham-bold);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1px;
  min-height: 40px;
  width: 178px;
}

.desktop-1 .place-container {
  height: 31px;
  margin-left: 282px;
  margin-top: 5px;
  position: relative;
  width: 270px;
}

.desktop-1 .place {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 158px;
}

.desktop-1 .market-place {
  left: 112px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  width: 158px;
}

.desktop-1 .community {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 37px;
  min-height: 26px;
  width: 158px;
}

.desktop-1 .discover-rare-collec {
  color: var(--white);
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-xxxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 187px;
  margin-top: 29px;
  min-height: 148px;
  width: 340px;
}

.desktop-1 .lorem-ipsum-dolor-si {
  color: #ffffff66;
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 183px;
  margin-top: 44px;
  min-height: 46px;
  width: 474px;
}

.desktop-1 .overlap-group12 {
  height: 44px;
  margin-left: 175px;
  margin-top: 34px;
  position: relative;
  width: 283px;
}

.desktop-1 .explore-now {
  color: #ffffffb8;
  font-family: var(--font-family-gotham-bold);
  font-size: 15px;
  font-weight: 700;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 264px;
}

.desktop-1 .basic-outline-buttonsmallfocusfalse {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 133px;
}

.desktop-1 .basic-outline-small-base {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: #fafbff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: -1.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -1.00px;
  padding: 8px 16px;
  position: relative;
}

.desktop-1 .overlap-group7 {
  height: 114px;
  margin-left: 156px;
  margin-top: 53px;
  position: relative;
  width: 442px;
}

.desktop-1 .rectangle-16 {
  background-color: #ffffff08;
  border: 1px solid;
  border-color: #fbfafa0a;
  border-radius: 4px;
  height: 114px;
  left: 0;
  position: absolute;
  top: 0;
  width: 438px;
}

.desktop-1 .line-2 {
  left: 175px;
  top: 14px;
}

.desktop-1 .line-3 {
  left: 291px;
  top: 16px;
}

.desktop-1 .x100k-active-users {
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
  width: 139px;
}

.desktop-1 .span-1 {
  color: var(--white);
  font-weight: 700;
}

.desktop-1 .x2k-patents {
  left: 163px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25px;
  width: 139px;
}

.desktop-1 .x1k-patents {
  left: 303px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 139px;
}

.desktop-1 .overlap-group-container {
  align-items: flex-end;
  display: flex;
  gap: 16px;
  margin-top: 13px;
  min-width: 1383px;
}

.desktop-1 .overlap-group2 {
  height: 287px;
  position: relative;
  width: 443px;
}

.desktop-1 .connect-to-wallet {
  left: 67px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 131px;
  width: 264px;
}

.desktop-1 .rectangle-17 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(254.36, 255, 254.85, 0) 100%);
  border: 1px solid;
  border-color: #d1c9c938;
  height: 275px;
  left: 7px;
  position: absolute;
  top: 12px;
  width: 436px;
}

.desktop-1 .restore-from-file {
  height: 116px;
  left: 0;
  position: absolute;
  top: 0;
  width: 133px;
}

.desktop-1 .overlap-group1 {
  height: 344px;
  position: relative;
  width: 924px;
}

.desktop-1 .create-and-sell-your-nf-ts {
  color: var(--white);
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  left: 44px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 464px;
}

.desktop-1 .rectangle-18 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.07) 0%, rgba(254.36, 255, 254.85, 0) 100%);
  border: 1px solid;
  border-color: #d1c9c938;
  height: 275px;
  left: 18px;
  position: absolute;
  top: 69px;
  width: 436px;
}

.desktop-1 .rectangle-19 {
  height: 275px;
  left: 488px;
  position: absolute;
  top: 69px;
  width: 436px;
}

.desktop-1 .local-node {
  height: 150px;
  left: 0;
  position: absolute;
  top: 31px;
  width: 150px;
}

.desktop-1 .collect-nft {
  left: 50px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 172px;
  width: 164px;
}

.desktop-1 .nft-marketplace {
  left: 508px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 177px;
  width: 164px;
}

.desktop-1 .write-seed {
  height: 150px;
  left: 488px;
  position: absolute;
  top: 49px;
  width: 150px;
}

.desktop-1 .flex-row {
  gap: 94px;
  height: 59px;
  margin-right: 158px;
  margin-top: 26px;
  min-width: 413px;
}

.desktop-1 .surname {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 21px;
  width: 164px;
}

.desktop-1 .frame-8 {
  background-color: #d331bb;
  border-radius: 15px;
  gap: 10px;
  height: 39px;
  padding: 8px 40px;
  position: relative;
  width: 155px;
}

.desktop-1 .view-all {
  color: var(--white);
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 21px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: -89.00px;
  margin-top: -1.00px;
  position: relative;
  width: 164px;
}

.desktop-1 .status {
  color: var(--white);
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 283px;
  margin-top: 14px;
  min-height: 21px;
  width: 164px;
}

.desktop-1 .flex-row-1 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  gap: 25px;
  margin-right: 83.96px;
  margin-top: 41px;
  min-width: 536px;
}

.desktop-1 .icon-star {
  height: 20px;
  margin-bottom: 1.1px;
  width: 29px;
}

.desktop-1 .overlap-group9 {
  height: 56px;
  position: relative;
  width: 482px;
}

.desktop-1 .explore-nf-ts-collection {
  color: var(--white);
  font-family: var(--font-family-gotham_black-regular);
  font-size: 36px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 476px;
}

.desktop-1 .star-2 {
  height: 21px;
  left: 454px;
  position: absolute;
  top: 33px;
  width: 28px;
}

.desktop-1 .overlap-group-container-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 60px;
  margin-left: 49.0px;
  margin-top: 15px;
  min-width: 980px;
}

.desktop-1 .overlap-group3 {
  align-items: flex-end;
  background: linear-gradient(180deg, rgb(15, 223, 229) 0%, rgb(243.31, 0, 207.27) 100%);
  border-radius: 40px;
  display: flex;
  height: 57px;
  justify-content: flex-end;
  min-width: 205px;
  padding: 13px 3px;
}

.desktop-1 .categories {
  letter-spacing: 0;
  line-height: normal;
  min-height: 28px;
  width: 149px;
}

.desktop-1 .overlap-group4 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(15, 223, 229) 0%, rgb(243.31, 0, 207.27) 100%);
  border-radius: 40px;
  display: flex;
  height: 57px;
  justify-content: flex-end;
  margin-left: 40px;
  min-width: 205px;
  padding: 16px 17px;
}

.desktop-1 .status-1 {
  min-height: 18px;
  width: 120px;
}

.desktop-1 .overlap-group6 {
  align-self: flex-end;
  height: 57px;
  margin-left: 50px;
  position: relative;
  width: 215px;
}

.desktop-1 .rectangle-81 {
  background: linear-gradient(180deg, rgb(15, 223, 229) 0%, rgb(243.31, 0, 207.27) 100%);
  border-radius: 40px;
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 205px;
}

.desktop-1 .surname-1 {
  left: 71px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 144px;
}

.desktop-1 .overlap-group11 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(15, 223, 229) 0%, rgb(243.31, 0, 207.27) 100%);
  border-radius: 40px;
  display: flex;
  height: 57px;
  justify-content: flex-end;
  margin-left: 60px;
  min-width: 205px;
  padding: 12px 3px;
}

.desktop-1 .status-2 {
  min-height: 20px;
  width: 124px;
}

.desktop-1 .flex-row-2 {
  align-items: flex-end;
  display: flex;
  height: 479px;
  margin-left: -146px;
  margin-top: 42px;
  min-width: 1650px;
  z-index: 3;
}

.desktop-1 .overlap-group10 {
  border-radius: 33px;
  height: 474px;
  position: relative;
  width: 517px;
}

.desktop-1 .icon-heart {
  height: 47px;
  left: 424px;
  position: absolute;
  top: 24px;
  width: 44px;
}

.desktop-1 .rectangle-34 {
  background: linear-gradient(180deg, rgb(85.91, 64.44, 217.81) 0%, rgba(201, 191, 216, 0) 100%);
  border-radius: 33px;
  box-shadow: inset 0px 4px 20px #ffffff66;
  height: 474px;
  left: 0;
  position: absolute;
  top: 0;
  width: 517px;
}

.desktop-1 .flex-row-3 {
  align-items: flex-start;
  align-self: flex-start;
  background-image: url(../img/rectangle-35.svg);
  background-size: 100% 100%;
  display: flex;
  height: 474px;
  justify-content: flex-end;
  margin-left: 35px;
  min-width: 517px;
  padding: 17.5px 57.0px;
}

.desktop-1 .icon-heart-1 {
  height: 47px;
  width: 44px;
}

.desktop-1 .overlap-group8 {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(211, 49, 187) 0%, rgba(201, 191, 216, 0) 100%);
  border-radius: 33px;
  box-shadow: inset 0px 4px 20px #ffffff66;
  display: flex;
  height: 474px;
  justify-content: flex-end;
  margin-left: 64px;
  min-width: 517px;
  padding: 36.5px 32.0px;
}

.desktop-1 .icon-heart-2 {
  height: 47px;
  width: 2px;
}

.desktop-1 .overlap-group5 {
  align-self: center;
  height: 602px;
  margin-right: 2.0px;
  margin-top: 165px;
  position: relative;
  width: 1372px;
  z-index: 2;
}

.desktop-1 .lorem-ipsum-dolor-si-1 {
  color: #ffffff66;
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 104px;
  width: 474px;
}

.desktop-1 .never-miss-a-drop {
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 69px;
  width: 234px;
}

.desktop-1 .rectangle-34-1 {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, rgba(201, 191, 216, 0) 0.01%);
  border-radius: 33px;
  box-shadow: inset 0px 4px 20px #ffffff66;
  height: 532px;
  left: 141px;
  position: absolute;
  top: 70px;
  width: 1124px;
}

.desktop-1 .rectangle-39 {
  background: linear-gradient(180deg, rgba(201, 191, 216, 0) 100%);
  border-radius: 33px;
  box-shadow: inset 0px 4px 20px #ffffff66;
  height: 311px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1372px;
}

.desktop-1 .rectangle-45 {
  height: 294px;
  left: 6px;
  position: absolute;
  top: 54px;
  width: 1362px;
}

.desktop-1 .rectangle-14 {
  background-color: #d9d9d917;
  border-radius: 13px;
  height: 58px;
  left: 114px;
  position: absolute;
  top: 219px;
  width: 518px;
}

.desktop-1 .rectangle-46 {
  background-color: #d331bb;
  border-radius: 13px;
  height: 58px;
  left: 460px;
  position: absolute;
  top: 219px;
  width: 316px;
}

.desktop-1 .email-address {
  color: #ffffff73;
  font-family: var(--font-family-gotham_black-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 168px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 235px;
  width: 190px;
}

.desktop-1 .rectangle-34-2 {
  align-self: flex-end;
  height: 532px;
  margin-right: -6028px;
  margin-top: 2419px;
  width: 1353px;
  z-index: 4;
}

.desktop-1 .flex {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
}

.desktop-1 .frame {
  align-items: flex-start;
  display: flex;
}

.desktop-1 .line {
  height: 82px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.desktop-1 .status-3 {
  letter-spacing: 0;
  line-height: normal;
}
